<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	   http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 搜索组件 -->
	<context:component-scan base-package="org.ssmm2.example">
		<context:include-filter type="regex" expression=".action.*" />
		<context:include-filter type="regex" expression=".service.*" />
	</context:component-scan>
	<!-- 数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="org.apache.derby.jdbc.ClientDriver" />
		<property name="jdbcUrl" value="jdbc:derby://127.0.0.1/sshd"></property>
		<property name="user" value="sa"></property>
		<property name="password" value="123456"></property>
	</bean>
	<!-- 事务管理 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- 事务拦截规则 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 事务拦截路径 -->
	<aop:config>
		<aop:pointcut id="serviceOperation" expression="execution(* org.ssmm2.example.service.*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
	</aop:config>

	<!--分页插件，dialectClass是指定的方言-->
	<bean id="pagingPlugin" class="org.ssmm2.common.plugins.PagingPlugin">
		<property name="dialectClass">
			<value>org.ssmm2.common.persistence.dialect.DerbyDialect</value>
		</property>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:org/ssmm2/example/persistence/xml/**/*.xml" />
		<!--注入分页插件-->
		<property name="plugins">
			<list>
			  <ref bean="pagingPlugin" />
			</list>
		</property>
	</bean>
	<!--加载Mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.ssmm2.persistence.mapper" />
	</bean>
</beans>
